@import "_typography";

//main {
//  position: relative;
//  display: block;
//  margin: 0;
//  padding: 0;
//  left: 0;
//  top: 0;
//  right: 0;
//  min-height: 180.673499268vw;
//  width: 100%;
//}

.content {
  position: relative;
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  top: 0;
  //right: 0;
  z-index: 99;
  //align-content: center;
  //align-items: center;

  h1 {
    position: absolute;
    //position: relative;
    //top: 4.978038067vw;
    padding-top: 4.978038067349927vw;
    text-align: center;
    //left: 50%;
    width: 100%;
    //transform: translate(-50%, 0);
    font-size: $h2-font-size;
    color: rgba($h1-font-color, 0.08);
    font-family: $font-h1;
    margin: 0;
  }

  .points {
    position: relative;
    padding-top: 16.398243045387993vw;
    width: 100%;
    z-index: 99;

    .phno {
      position: relative;
      display: inline-block;
      top: 0;
      //clear: both;
      width: 100%;
      min-height: 33.308931186vw;
      float: left;
      //overflow: hidden;

      .phno-content {
        position: relative;
        display: block;
        margin-left: 7.247437775vw;
        max-width: 35.944363104vw;
        //clear: both;
        margin-right: 7.603221083455344vw;
        padding: 0;
        float: left;

        h5 {
          font-family: $font-h5;
          font-size: $h5-font-size;
          color: $h5-font-color;
          margin-top: 0;
          margin-bottom: 0.805270864vw;
        }

        p {
          font-family: $font-p;
          font-size: $p-font-size;
          color: $p-md-font-color;
          //min-width: 20.031625183016104vw;
          max-width: 35.944363104vw;
          margin: 0;
          padding: 0;
        }
      }

      .phno-img {
        display: inline-block;
        position: relative;
        //margin-right: 7.111273792vw;
        margin-top: 6.515373353vw;
        padding: 0;

        img {
          display: block;
          width: 42.020497804vw;
          height: 26.866764275vw;
          margin: 0;
          padding: 0;
        }
      }
    }

    .Kaoh {
      position: relative;
      display: inline-block;
      margin-top: 14.421669106881405vw;
      top: 0;
      width: 100%;
      min-height: 22.254758419vw;
      float: right;

      .Kaoh-content {
        position: relative;
        display: block;
        margin-right: 8.711566618vw;
        margin-top: 2.415812592vw;
        padding: 0;
        float: right;
        margin-left: 16.03221083455344vw;

        h5 {
          font-family: $font-h5;
          font-size: $h5-font-size;
          color: $h5-font-color;
          margin-top: 0;
          margin-bottom: 0.585651537vw;
        }

        p {
          font-family: $font-p;
          font-size: $p-font-size;
          color: $p-md-font-color;
          max-width: 33.308931186vw;
          margin: 0;
          padding: 0;
        }
      }

      .Kaoh-img {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 0;
        float: right;

        img {
          display: block;
          width: 34.773060029vw;
          height: 22.254758419vw;
          margin: 0;
          padding: 0;
        }
      }
    }

    .Koh {
      position: relative;
      display: inline-block;
      margin-top: 15.446559297vw;
      top: 0;
      clear: both;
      width: 100%;
      min-height: 21.815519766vw;
      float: left;

      .Koh-content {
        position: relative;
        display: block;
        margin-left: 6.954612006vw;
        margin-top: 1.244509517vw;
        float: left;
        max-width: 26.207906295754025vw;
        margin-right: 3.074670571010249vw;

        h5 {
          font-family: $font-h5;
          font-size: $h5-font-size;
          color: $h5-font-color;
          margin-top: 0;
          margin-bottom: 0.732064422vw;
        }

        p {
          font-family: $font-p;
          font-size: $p-font-size;
          color: $p-md-font-color;
          max-width: 27.232796486vw;
          margin: 0;
          padding: 0;
        }
      }

      .Koh-img {
        position: relative;
        display: inline-block;
        padding: 0;

        img {
          display: block;
          width: 34.773060029vw;
          height: 22.254758419vw;
          margin: 0;
          padding: 0;
        }
      }
    }

    .Popokvil {
      position: relative;
      display: block;
      margin-top: 11.420204978vw;
      clear: both;
      width: 100%;
      min-height: 33.308931186vw;
      //align-content: left;
      //align-items: left;
      //float: left;

      .Popokvil-img {
        position: absolute;
        display: inline-block;
        top: 0;
        //float: left;
        width: 34.773060029vw;;
        left: 7.174231332vw;
        z-index: 30;
        //top: 0;
        //overflow: hidden;


        img {
          //float: left;
          display: inline-block;
          //overflow: hidden;
          //clear: both;
          width: 34.919472914vw;
          height: 21.815519766vw;
        }
      }


      .Popokvil-content {
        position: absolute;
        display: inline-block;
        right: 27.598828697vw;
        top: 3.294289898vw;
        //float: right;
        //clear-side: right;
        //left: 0px;
        //width: 26.207906296vw;
        margin: 0;
        z-index: 40;


        h5 {
          //display: inline-block;
          //width: 100%;
          font-family: $font-h5;
          font-size: $h5-font-size;
          color: $h5-font-color;
          text-align: left;
          margin: 0;
          z-index: 40;
        }

        p {
          //display: inline-block;
          //clear: right;
          //overflow: hidden;
          text-align: left;
          font-family: $font-p;
          font-size: $p-font-size;
          color: $p-md-font-color;
          min-width: 273.632px;
          max-width: 27.232796486vw;
          margin: 0;
          margin-top: 1.02489019vw;
          z-index: 40;
        }
      }


    }



  }



  .bg-content {
    position: absolute;
    //margin-top: 111px;
    top: 0;
    left: 0;
    margin: 8.125915080527086vw 0;
    width: 100%;
    z-index: 1;
  }
}