footer {
  position: relative;
  bottom: 0;
  background-color: #D48630;
  height: 6.222547584187408vw;
  width: 100vw;
}

.footer-nav {
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;


  .footer-menu {
    position: relative;
    list-style: none;
    font-size: $menu-font-size;
    font-family: $font-menu-footer;
    margin: 1.903367496339678vw 0.7320644216691069vw 2.342606149341142vw 7.320644216691069vw;
    padding: 0;

    li {
      float: left;
      margin-right: 3.294289897510981vw;

      a {
        color: $menu-font-color;
        cursor: pointer;
      }

      a:last-child {
        margin-right: 0;
      }

      a:link {
        text-decoration: none;
      }

      a:hover {
        border-bottom: 1px solid;
        color: blue;
      }

      a:visited {
        text-decoration: none;
        color: $menu-font-color;
      }

      a:active {
        border-bottom: 1px solid;
        color: blue;
      }
    }
  }
}

.social {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: $label-font-size;

  .social-links {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 2.4158125915080526vw 7.320644216691069vw 2.342606149341142vw 0.7320644216691069vw;
    right: 0;

    li {
      float: left;
      margin-right: 2.1595900439238656vw;

      a {
        display:inline-block;
        margin: 0;
        padding: 0;
        
        svg {
          display: block;
        }
      }

      .youtube #Final-design, .facebook #Final-design,
      .instagram #Final-design, .twitter #Final-design {
        //height: 1.0248901903367496vw;
        fill: #fff;
      }
    }

    li:last-child {
      margin-right: 0;
    }
  }
}
