@import "_typography";

header {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80.380673499vw;

  .menu {
    width: 29.282576867vw;
  }

  .menu ul {
    list-style: none;
    display: none;
  }

  .menu ul::after {
    list-style: none;
    //@include responsive-type(1.1rem, 3.2rem);
    //color: $menu-font-color;
    //font-family: $font-menu-header;
  }

  .menu svg {
    position: absolute;
    float: left;
    top: 2.562225476vw;
    left: 9.370424597vw;
    z-index: 20;
    width: 1.68374817vw;
  }

  .social, .social a {
    display:inline-block;
    height: 1.098096633vw;
  }

  //.social {
  //  //height: 1.098096633vw;
  //  position: absolute;
  //  align-content: right;
  //  float: right;
  //  right: 9.370424597vw;
  //  top: 2.562225476vw;
  //  z-index: 20;
  //
  //  a {
  //    //height: 1.098096633vw;
  //    display: inline-block;
  //    position: relative;
  //    margin-left: 1.756954612vw;
  //    text-decoration: none;
  //  }
  //
  //  .youtube, .youtube svg {
  //    width: 1.464128843vw;
  //    height: 0.951683748vw;
  //  }
  //
  //  .facebook svg {
  //    width: 0.512445095vw;
  //    height: auto;
  //    //display: none;
  //  }
  //
  //  .instagram svg {
  //    width: 1.02489019vw;
  //    height: auto;
  //    //display: none;
  //  }
  //
  //  .twitter svg {
  //    width: 0.805270864vw;
  //    height: auto;
  //    display: none;
  //  }
  //}

  .header__social {
    .social-links {
      margin: 2.562225475841874vw 9.370424597364568vw 0 0.7320644216691069vw;
    }

    li {
      margin-right: 1.7723279648609078vw;
    }
  }

  .bg-header {
    z-index: 1;
  }

  .description {
    position: absolute;
    z-index: 30;
    width: 100vw;
    bottom: 17.349926794vw;


    span {
      position: absolute;
      text-align: center;
      width: 100vw;
      color: $subheading-font-color;
      font-size: $subheading-font-size;
      font-family: $font-subheading;
    }

    .facts {
      margin-top: 8.199121523vw;
      font-family: $font-label-light;

      .facts-left {
        float: left;
        padding-left: 17.459736457vw;
        height: 6.368960469vw;
      }

      .facts-right {
        position: relative;
        float: right;
        padding-right: 17.459736457vw;
        height: 6.368960469vw;
      }

      .facts-left svg, .facts-right svg {
        float: left;
        margin-right: 1.68374817vw;
      }

      .facts-left svg {
        width: 4.685212299vw;

      }

      .facts-right svg {
        width: 7.833089312vw;
      }

      .facts-left__content,
      .facts-right__content {
        display: table-cell;
        min-width: 173px;
        max-width: 21.449487555vw;
        vertical-align: middle;
        text-align: left;
      }

      .facts-left p, .facts-right p {
        color: $label-font-color-2;
      }

      .p_medium {
        position: relative;
        font-family: $font-label-medium;
        font-size: $label-font-size;
        color: $label-font-color-1;
      }

      .facts-left, .facts-right {
        font-size: $label-font-size;
      }
    }
  }
}