@import "_header";
@import "_content";
@import "_variable";
@import "_typography";


html {
  @include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
}

body {
  margin: 0;
  padding: 0;
  //color: $p-font-color;
  width: $width;
  height: $height;
  //line-height: $baseline;
}
//
//.hello {
//  margin-top: 20vh;
//  text-align: center;
//  color: $h1-font-color;
//  font-size: $h1-font-size;
//  font-family: $font-bold;
//}
//
//.description {
//  margin-top: 2px;
//  color: $p-font-color;
//  text-align: center;
//}
//
//.image-insert {
//  margin: 20px auto;
//  opacity: 0.1;
//  display: block;
//  width: 400px;
//  height: 300px;
//}